body {
	background-color: white;
	color: black;
	font: 14px sans-serif;
	margin: auto;
	max-width: 400px;
	padding: 10px;
}

a {
	color: royalblue;
	text-decoration: none;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	margin: 10px 0 25px 0;
}

input, select {
	font: inherit;
	margin: 5px 0;
	padding: 5px 5px;
}

input.large {
	width: 300px;
}

ul {
	list-style-type: none;
	margin: 15px 0;
	padding: 0;
}

li {
	border: 0 solid grey;
	border-bottom-width: 1px;
	padding: 10px 0;
	width: 100%;
}

button {
	background-color: royalblue;
	border: none;
	color: white;
	cursor: pointer;
	font: inherit;
	margin: 5px 0;
	padding: 7px;
}

footer {
	margin: 25px 0;
}

.info {
	color: black;
}

.error {
	color: red;
}
